* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.h1 {
    margin-top: 10rem;
    text-align: center;
    margin-bottom: 0;
}

#first-select, #second-select {
    border-radius: 5px;
    color: gray;
    height: 2rem;
}

.selection-row {
    margin-top: 3rem;
}

#button {
    margin-top: 5rem;
    height: 30px;
    width: 100px;
    border: transparent;
    border-radius: 5px;
    background-color: #313e47;
    color: white;
    margin-left: 15rem;
}

#button:hover {
    background-color: #ce7bc9;
}